#contact{
    background-color: var(--darkwhite);
    position: relative;
    display: grid;
    grid-template-columns: 50% 50%;
    overflow: hidden;
}
.contact-left{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-right{
    text-align: left;
    align-content: center;
    margin: 0 auto;
}
.contact-left img{
    width: 80%;
    height: 80%;
    object-fit: cover;
    border-radius: 5%;
}
#map{
    background-color: var(--darkwhite);
    height: 500px;
    width: 100vw;
    display: flex;
    align-items: center;
}
gmp-map {
    height: 80%;
    width: 100%;
}