#home{
    background-color: var(--darkwhite);
    display: grid;
    grid-template-columns: 60% 40%;
    height: 90vh;
    overflow-y: hidden;
    overflow-x: hidden;
}
.home-left{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    justify-content: center;
    align-items: start;
    padding: 5% 0 0 10%;
}
.home-left h1{
    max-width: 22rem;
}
.home-left h3{
    min-width: 30rem;
    color: var(--grey);
}
.home-left button{
    display: flex;
    background-color: var(--white);
    padding: 10px 20px;
    margin-top: 3rem;
}
.home-left button:hover{
    opacity: 0.8;
}
.home-left button:active{
    opacity: 0.5;
}
.home-right{
    display: flex;
    position: relative;
}
.home-right img{
    position: absolute;
    top: -10%;
    right: 20%;
    width: 100%;
    min-width: 14rem;
    max-width: 30rem;
    margin-left: 10px;
    overflow-x: visible;
}