#quote{
    background-color: var(--darkgrey);
    position: relative;
    display: block;
    height: 40vh;
    overflow: hidden;
    text-align: center;
    align-content: center;
    width: 100%;
}
.quotes{
    margin: auto 0;
    height: 60px;
    justify-content: center;
}
.quo-deco{
    background-color: var(--red);
    position: absolute;
    top: 4rem;
    left: -14rem; 
    height: 80vh;
    width: 80vh;
    border-radius: 50%;
}
@media(max-width:1100px){
    .quotes{
        font-size: 2.2rem;
    }
    .quo-deco{
        top: 8rem;
        left: -8rem; 
        height: 60vh;
        width: 60vh;
    }
}
@media(max-width:780px){
    .quotes{
        font-size: 1.6rem;
    }
    .quo-deco{
        top: 12rem;
        left: -5rem; 
        height: 30vh;
        width: 30vh;
    }
}