#recomendation{
    background-color: var(--darkwhite);
    position: relative;
    display: block;
    overflow: visible;
    text-align: center;
    padding-top: 2.4rem;
}
#recomendation h2{
    padding: 1.5rem 0 5rem;
}
#recomendation h4{
    color: var(--grey);
}
#recomendation a{
    padding-bottom: 3rem;
}
.reco-cards{
    display: grid;
    grid-template-columns: 28% 40% 28%;
    column-gap: 2%;
}
.reco-cards-maincard,.reco-cards-sidecard{
    background-color: var(--white);
    position: relative;
    padding: 5rem 2% 0.6rem 2%;
    border-radius: 10%;
}
.reco-cards-maincard img, .reco-cards-sidecard img{
    position: absolute;
    transform: translateX(-50%);
    bottom: 85%;
}
.reco-cards-maincard img{
    width: 85%;
    max-width: 24rem;
    min-width: 11rem;
}
.reco-cards-sidecard img{
    width: 80%;
    max-width: 16rem;
    min-width: none;
}
.reco-deco{
    background-color: var(--grey);
    position: absolute;
    top: -5rem;
    right: -20rem; 
    height: 120vh;
    width: 120vh;
    border-radius: 50%;
}
@media(max-width:1000px){
    .reco-deco{
        top: -10rem;
        right: -40rem; 
        height: 140vh;
    }
}
@media(max-width:640px){
    .reco-deco{
        top: -20rem;
        right: -70rem; 
        height: 180vh;
        width: 180vh;
    }
}