<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Art</title>
    <!-- CSS styling  -->
     <link rel="stylesheet" href="/css/general.css">
     <link rel="stylesheet" href="/css/dishes.css">
    <!-- Icons -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-solid-straight/css/uicons-solid-straight.css'>
    <!-- JavaScript -->
    <script defer src="/js/seeAllDishes.js"></script>

</head>
<body>
    <h1>MENU</h1>
    <div class="section">
        <div class="section-top mar-bot">
            <h2>HOT PICKS</h2>
            <button id="section-top-btn">
                <i class="fi fi-ss-expand-arrows"></i>
                <p>Expand</p>
            </button>
        </div>
        <div id="section-bot" class="section-bot minimize">
            <div class="section-bot-dishes">
                <img src="../images/menu.png" alt="">
                <div class="section-bot-dishes-desc">
                    <h3>Food Name</h3>
                    <h4>
                        crispy fritters layered with creamy avocado and topped with 
                            savory bacon strips. This dish features golden fritters made 
                            from fresh ingredients, complemented by a medley of greens 
                            and a tangy sauce. 
                    </h4>
                    <p>300 calories</p>
                </div>
            </div>
            <div class="section-bot-dishes">
                <img src="../images/menu2.png" alt="">
                <div class="section-bot-dishes-desc">
                    <h3>Food Name</h3>
                    <h4>
                        crispy fritters layered with creamy avocado and topped with 
                            savory bacon strips. This dish features golden fritters made 
                            from fresh ingredients, complemented by a medley of greens 
                            and a tangy sauce. 
                    </h4>
                    <p>300 calories</p>
                </div>
            </div>
            <div class="section-bot-dishes">
                <img src="../images/menu3.png" alt="">
                <div class="section-bot-dishes-desc">
                    <h3>Food Name</h3>
                    <h4>
                        crispy fritters layered with creamy avocado and topped with 
                            savory bacon strips. This dish features golden fritters made 
                            from fresh ingredients, complemented by a medley of greens 
                            and a tangy sauce. 
                    </h4>
                    <p>300 calories</p>
                </div>
            </div>
            <div class="section-bot-dishes">
                <img src="../images/menu2.png" alt="">
                <div class="section-bot-dishes-desc">
                    <h3>Food Name</h3>
                    <h4>
                        crispy fritters layered with creamy avocado and topped with 
                            savory bacon strips. This dish features golden fritters made 
                            from fresh ingredients, complemented by a medley of greens 
                            and a tangy sauce. 
                    </h4>
                    <p>300 calories</p>
                </div>
            </div>
            <div class="section-bot-dishes">
                <img src="../images/menu3.png" alt="">
                <div class="section-bot-dishes-desc">
                    <h3>Food Name</h3>
                    <h4>
                        crispy fritters layered with creamy avocado and topped with 
                            savory bacon strips. This dish features golden fritters made 
                            from fresh ingredients, complemented by a medley of greens 
                            and a tangy sauce. 
                    </h4>
                    <p>300 calories</p>
                </div>
            </div>
            <div class="section-bot-dishes">
                <img src="../images/menu.png" alt="">
                <div class="section-bot-dishes-desc">
                    <h3>Food Name</h3>
                    <h4>
                        crispy fritters layered with creamy avocado and topped with 
                            savory bacon strips. This dish features golden fritters made 
                            from fresh ingredients, complemented by a medley of greens 
                            and a tangy sauce. 
                    </h4>
                    <p>300 calories</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section mar-top-s">
        <div class="section-top mar-bot">
            <h2>MAIN DISH</h2>
            <button id="section-top-btn">
                <i class="fi fi-ss-expand-arrows"></i>
                <p>Expand</p>
            </button>
        </div>
        <div id="section-bot" class="section-bot minimize">
            <div class="section-bot-dishes">
                <img src="../images/menu.png" alt="">
                <div class="section-bot-dishes-desc">
                    <h3>Food Name</h3>
                    <h4>
                        crispy fritters layered with creamy avocado and topped with 
                            savory bacon strips. This dish features golden fritters made 
                            from fresh ingredients, complemented by a medley of greens 
                            and a tangy sauce. 
                    </h4>
                    <p>300 calories</p>
                </div>
            </div>
            <div class="section-bot-dishes">
                <img src="../images/menu2.png" alt="">
                <div class="section-bot-dishes-desc">
                    <h3>Food Name</h3>
                    <h4>
                        crispy fritters layered with creamy avocado and topped with 
                            savory bacon strips. This dish features golden fritters made 
                            from fresh ingredients, complemented by a medley of greens 
                            and a tangy sauce. 
                    </h4>
                    <p>300 calories</p>
                </div>
            </div>
            <div class="section-bot-dishes">
                <img src="../images/menu3.png" alt="">
                <div class="section-bot-dishes-desc">
                    <h3>Food Name</h3>
                    <h4>
                        crispy fritters layered with creamy avocado and topped with 
                            savory bacon strips. This dish features golden fritters made 
                            from fresh ingredients, complemented by a medley of greens 
                            and a tangy sauce. 
                    </h4>
                    <p>300 calories</p>
                </div>
            </div>
            <div class="section-bot-dishes">
                <img src="../images/menu2.png" alt="">
                <div class="section-bot-dishes-desc">
                    <h3>Food Name</h3>
                    <h4>
                        crispy fritters layered with creamy avocado and topped with 
                            savory bacon strips. This dish features golden fritters made 
                            from fresh ingredients, complemented by a medley of greens 
                            and a tangy sauce. 
                    </h4>
                    <p>300 calories</p>
                </div>
            </div>
            <div class="section-bot-dishes">
                <img src="../images/menu3.png" alt="">
                <div class="section-bot-dishes-desc">
                    <h3>Food Name</h3>
                    <h4>
                        crispy fritters layered with creamy avocado and topped with 
                            savory bacon strips. This dish features golden fritters made 
                            from fresh ingredients, complemented by a medley of greens 
                            and a tangy sauce. 
                    </h4>
                    <p>300 calories</p>
                </div>
            </div>
            <div class="section-bot-dishes">
                <img src="../images/menu.png" alt="">
                <div class="section-bot-dishes-desc">
                    <h3>Food Name</h3>
                    <h4>
                        crispy fritters layered with creamy avocado and topped with 
                            savory bacon strips. This dish features golden fritters made 
                            from fresh ingredients, complemented by a medley of greens 
                            and a tangy sauce. 
                    </h4>
                    <p>300 calories</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section mar-top-s">
        <div class="section-top mar-bot">
            <h2>APPETIZER</h2>
            <button id="section-top-btn">
                <i class="fi fi-ss-expand-arrows"></i>
                <p>Expand</p>
            </button>
        </div>
        <div id="section-bot" class="section-bot minimize">
            <div class="section-bot-dishes">
                <img src="../images/menu.png" alt="">
                <div class="section-bot-dishes-desc">
                    <h3>Food Name</h3>
                    <h4>
                        crispy fritters layered with creamy avocado and topped with 
                            savory bacon strips. This dish features golden fritters made 
                            from fresh ingredients, complemented by a medley of greens 
                            and a tangy sauce. 
                    </h4>
                    <p>300 calories</p>
                </div>
            </div>
            <div class="section-bot-dishes">
                <img src="../images/menu2.png" alt="">
                <div class="section-bot-dishes-desc">
                    <h3>Food Name</h3>
                    <h4>
                        crispy fritters layered with creamy avocado and topped with 
                            savory bacon strips. This dish features golden fritters made 
                            from fresh ingredients, complemented by a medley of greens 
                            and a tangy sauce. 
                    </h4>
                    <p>300 calories</p>
                </div>
            </div>
            <div class="section-bot-dishes">
                <img src="../images/menu3.png" alt="">
                <div class="section-bot-dishes-desc">
                    <h3>Food Name</h3>
                    <h4>
                        crispy fritters layered with creamy avocado and topped with 
                            savory bacon strips. This dish features golden fritters made 
                            from fresh ingredients, complemented by a medley of greens 
                            and a tangy sauce. 
                    </h4>
                    <p>300 calories</p>
                </div>
            </div>
            <div class="section-bot-dishes">
                <img src="../images/menu2.png" alt="">
                <div class="section-bot-dishes-desc">
                    <h3>Food Name</h3>
                    <h4>
                        crispy fritters layered with creamy avocado and topped with 
                            savory bacon strips. This dish features golden fritters made 
                            from fresh ingredients, complemented by a medley of greens 
                            and a tangy sauce. 
                    </h4>
                    <p>300 calories</p>
                </div>
            </div>
            <div class="section-bot-dishes">
                <img src="../images/menu3.png" alt="">
                <div class="section-bot-dishes-desc">
                    <h3>Food Name</h3>
                    <h4>
                        crispy fritters layered with creamy avocado and topped with 
                            savory bacon strips. This dish features golden fritters made 
                            from fresh ingredients, complemented by a medley of greens 
                            and a tangy sauce. 
                    </h4>
                    <p>300 calories</p>
                </div>
            </div>
            <div class="section-bot-dishes">
                <img src="../images/menu.png" alt="">
                <div class="section-bot-dishes-desc">
                    <h3>Food Name</h3>
                    <h4>
                        crispy fritters layered with creamy avocado and topped with 
                            savory bacon strips. This dish features golden fritters made 
                            from fresh ingredients, complemented by a medley of greens 
                            and a tangy sauce. 
                    </h4>
                    <p>300 calories</p>
                </div>
            </div>
        </div>
    </div>
    <div class="section mar-top-s">
        <div class="section-top mar-bot">
            <h2>DESERT & BEVERAGES</h2>
            <button id="section-top-btn">
                <i class="fi fi-ss-expand-arrows"></i>
                <p>Expand</p>
            </button>
        </div>
        <div id="section-bot" class="section-bot minimize">
            <div class="section-bot-dishes">
                <img src="../images/menu.png" alt="">
                <div class="section-bot-dishes-desc">
                    <h3>Food Name</h3>
                    <h4>
                        crispy fritters layered with creamy avocado and topped with 
                            savory bacon strips. This dish features golden fritters made 
                            from fresh ingredients, complemented by a medley of greens 
                            and a tangy sauce. 
                    </h4>
                    <p>300 calories</p>
                </div>
            </div>
            <div class="section-bot-dishes">
                <img src="../images/menu2.png" alt="">
                <div class="section-bot-dishes-desc">
                    <h3>Food Name</h3>
                    <h4>
                        crispy fritters layered with creamy avocado and topped with 
                            savory bacon strips. This dish features golden fritters made 
                            from fresh ingredients, complemented by a medley of greens 
                            and a tangy sauce. 
                    </h4>
                    <p>300 calories</p>
                </div>
            </div>
            <div class="section-bot-dishes">
                <img src="../images/menu3.png" alt="">
                <div class="section-bot-dishes-desc">
                    <h3>Food Name</h3>
                    <h4>
                        crispy fritters layered with creamy avocado and topped with 
                            savory bacon strips. This dish features golden fritters made 
                            from fresh ingredients, complemented by a medley of greens 
                            and a tangy sauce. 
                    </h4>
                    <p>300 calories</p>
                </div>
            </div>
            <div class="section-bot-dishes">
                <img src="../images/menu2.png" alt="">
                <div class="section-bot-dishes-desc">
                    <h3>Food Name</h3>
                    <h4>
                        crispy fritters layered with creamy avocado and topped with 
                            savory bacon strips. This dish features golden fritters made 
                            from fresh ingredients, complemented by a medley of greens 
                            and a tangy sauce. 
                    </h4>
                    <p>300 calories</p>
                </div>
            </div>
            <div class="section-bot-dishes">
                <img src="../images/menu3.png" alt="">
                <div class="section-bot-dishes-desc">
                    <h3>Food Name</h3>
                    <h4>
                        crispy fritters layered with creamy avocado and topped with 
                            savory bacon strips. This dish features golden fritters made 
                            from fresh ingredients, complemented by a medley of greens 
                            and a tangy sauce. 
                    </h4>
                    <p>300 calories</p>
                </div>
            </div>
            <div class="section-bot-dishes">
                <img src="../images/menu.png" alt="">
                <div class="section-bot-dishes-desc">
                    <h3>Food Name</h3>
                    <h4>
                        crispy fritters layered with creamy avocado and topped with 
                            savory bacon strips. This dish features golden fritters made 
                            from fresh ingredients, complemented by a medley of greens 
                            and a tangy sauce. 
                    </h4>
                    <p>300 calories</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>