<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Art</title>
    <!-- CSS styling  -->
     <link rel="stylesheet" href="/css/general.css">
     <link rel="stylesheet" href="/css/dishes.css">
</head>
<body>
    <h1>MENU</h1>
    <h2>HOT PICKS</h2>
    <div class="hotPicks">
        <div class="hotPicks-dishes">
            <img src="../images/menu.png" alt="">
            <div class="hotPicks-dishes-desc">
                <h3>Food Name</h3>
                <h4>
                    crispy fritters layered with creamy avocado and topped with 
                        savory bacon strips. This dish features golden fritters made 
                        from fresh ingredients, complemented by a medley of greens 
                        and a tangy sauce. 
                </h4>
                <p>300 calories</p>
            </div>
        </div>
        <div class="hotPicks-dishes">
            <img src="../images/menu.png" alt="">
            <div class="hotPicks-dishes-desc">
                <h3>Food Name</h3>
                <h4>
                    crispy fritters layered with creamy avocado and topped with 
                        savory bacon strips. This dish features golden fritters made 
                        from fresh ingredients, complemented by a medley of greens 
                        and a tangy sauce. 
                </h4>
                <p>300 calories</p>
            </div>
        </div>
        <div class="hotPicks-dishes">
            <img src="../images/menu.png" alt="">
            <div class="hotPicks-dishes-desc">
                <h3>Food Name</h3>
                <h4>
                    crispy fritters layered with creamy avocado and topped with 
                        savory bacon strips. This dish features golden fritters made 
                        from fresh ingredients, complemented by a medley of greens 
                        and a tangy sauce. 
                </h4>
                <p>300 calories</p>
            </div>
        </div>
        <div class="hotPicks-dishes">
            <img src="../images/menu.png" alt="">
            <div class="hotPicks-dishes-desc">
                <h3>Food Name</h3>
                <h4>
                    crispy fritters layered with creamy avocado and topped with 
                        savory bacon strips. This dish features golden fritters made 
                        from fresh ingredients, complemented by a medley of greens 
                        and a tangy sauce. 
                </h4>
                <p>300 calories</p>
            </div>
        </div>
        <div class="hotPicks-dishes">
            <img src="../images/menu.png" alt="">
            <div class="hotPicks-dishes-desc">
                <h3>Food Name</h3>
                <h4>
                    crispy fritters layered with creamy avocado and topped with 
                        savory bacon strips. This dish features golden fritters made 
                        from fresh ingredients, complemented by a medley of greens 
                        and a tangy sauce. 
                </h4>
                <p>300 calories</p>
            </div>
        </div>
        <div class="hotPicks-dishes">
            <img src="../images/menu.png" alt="">
            <div class="hotPicks-dishes-desc">
                <h3>Food Name</h3>
                <h4>
                    crispy fritters layered with creamy avocado and topped with 
                        savory bacon strips. This dish features golden fritters made 
                        from fresh ingredients, complemented by a medley of greens 
                        and a tangy sauce. 
                </h4>
                <p>300 calories</p>
            </div>
        </div>
    </div>
</body>
</html>