<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food Art</title>
    <!-- CSS styling -->
    <link rel="stylesheet" href="/css/general.css" type="text/css">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/css/home.css" type="text/css">
    <link rel="stylesheet" href="/css/recomendation.css" type="text/css">
    <link rel="stylesheet" href="/css/reason.css" type="text/css">
    <link rel="stylesheet" href="/css/contactNmap.css" type="text/css">
    <link rel="stylesheet" href="/css/quote.css" type="text/css">
    <link rel="stylesheet" href="/css/footer.css" type="text/css">
    <!-- Animations -->
    <link rel="stylesheet" href="/css/animation.css" type="text/css">
    <!-- Icon -->
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.2/uicons-bold-straight/css/uicons-bold-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.4.2/uicons-solid-rounded/css/uicons-solid-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.5.1/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <!-- JavaScript -->
    <script defer src="/js/app.js"></script>
    <!-- Google Map API -->
    <!-- <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCtMSH-d_oSvfYesrGSjmtFUNqEEHZ49JM&callback=console.debug&libraries=maps,marker&v=beta">
    </script> -->

</head>
<body>
    <div id="header">
        <button class="header-ham"><i class="fi fi-br-bars-sort"></i></button>
    </div>
    <div id="home">
        <div class="home-left">
            <h1 class="hiddenL animate --delay-fast">
                Food Art
            </h1>
            <h3 class="hiddenL animate --delay-fast-off2">
                Elevating Your Food, One Plate at a Time
            </h3>
            <button class="hiddenL --delay-fast-off3">
                <p>Dine Now</p>
                <i class="fi fi-sr-marker"></i>
            </button>
        </div>
        <div class="home-right background">
            <img class="hiddenRTR animate --delay-normal" src="../images/homeFood.png" alt="">
        </div>
    </div>
    <div id="recomendation">
        <h2 class="mar-bot">
            Popular Dishes
        </h2>
        <div class="reco-cards mar-bot mar-sides">
            <div class="reco-cards-sidecard hiddenL animate --delay-fast">
                <img src="../images/menu.png" alt="">
                <h3>Food Name</h3>
                <h4>
                    Everyone was curious about the large white blimp that 
                    appeared overnight. We need to rent a room for our 
                    party. I was very proud of my nickname throughout high 
                    school but today- I couldn’t be any different to what my 
                    nickname was.
                </h4>
                <p>
                    330 calories
                </p>
            </div>
            <div class="reco-cards-maincard hiddenL animate --delay-fast-off1">
                <img src="../images/menu2.png" alt="">
                <h3>Food Name</h3>
                <h4>
                    Everyone was curious about the large white blimp that 
                    appeared overnight. We need to rent a room for our 
                    party. I was very proud of my nickname throughout high 
                    school but today- I couldn’t be any different to what my 
                    nickname was.
                </h4>
                <p>
                    330 calories
                </p>
            </div>
            <div class="reco-cards-sidecard hiddenL animate --delay-fast-off3">
                <img src="../images/menu3.png" alt="">
                <h3>Food Name</h3>
                <h4>
                    Everyone was curious about the large white blimp that 
                    appeared overnight. We need to rent a room for our 
                    party. I was very proud of my nickname throughout high 
                    school but today- I couldn’t be any different to what my 
                    nickname was.
                </h4>
                <p>
                    330 calories
                </p>
            </div>
        </div>
        <a href="">See All Dishes...</a>
        <div class="reco-deco background"></div>
    </div>
    <div id="reason">
        <h2>Why Choose Us</h2>
        <div class="reason-lists">
            <div class="reason-lists-sub hiddenL animate --delay-fast">
                <img src="../images/fresh.png" alt="">
                <h4>100% Fresh</h4>
            </div>
            <div class="reason-lists-sub hiddenL animate --delay-fast-off1">
                <img src="../images/vip.png" alt="">
                <h4>Exclusive</h4>
            </div>
            <div class="reason-lists-sub hiddenL animate --delay-fast-off2">
                <img src="../images/star.png" alt="">
                <h4>High-Quality</h4>
            </div>
        </div>
    </div>
    <div id="contact">
        <div class="contact-left">
            <img src="../images/building.jpg" alt="">
        </div>
        <div class="contact-right">
            <h2 class="mar-bot">Contact Us</h2>
            <h4>1A, Jalan Kangar Jaya 14,</h4>
            <h4>Kangar Jaya, 01000 Kangar, Perlis</h4>
            <h4>(+60)-80004500</h4>
            <h4>foodArt@foodart.com</h4>
        </div>
    </div>
    <div id="map">
        <gmp-map center="6.406998634338379,100.18043518066406" zoom="18" map-id="DEMO_MAP_ID">
        <gmp-advanced-marker position="6.406998634338379,100.18043518066406" title="My location"></gmp-advanced-marker>
        </gmp-map>
    </div>
    <div id="quote">
        <h2 class="quotes hiddenL animate --delay-normal">WE CREATE VISUAL FEAST</h2>
        <h2 class="quotes hiddenL animate --delay-normal">FOR YOUR EYES & PALATE</h2>
        <div class="quo-deco background"></div>
    </div>
    <div id="footer">
        <div class="footer-left">
            <p class="footer-head mar-bot">COMPANY</p>
            <p class="footer-body">@2024 All-Right Reserved</p>
        </div>
        <div class="footer-mid">
            <p class="footer-head mar-bot">QUICK LINKS</p>
            <p class="footer-body"><a href="">HOME</a></p>
            <p class="footer-body"><a href="">POPULAR DISHES</a></p>
            <p class="footer-body"><a href="">WHY CHOOSE US</a></p>
            <p class="footer-body"><a href="">CONTACT US</a></p>
            <p class="footer-body"><a href="">LOCATION</a></p>
        </div>
        <div class="footer-right">
            <p class="footer-head mar-bot">HELP CENTRE</p>
            <p class="footer-body"><a href="">TERMS & CONDITIONS</a></p>
            <p class="footer-body"><a href="">REFUND POLICY</a></p>
            <p class="footer-body"><a href="">PRIVACY POLICY</a></p>
        </div>
    </div>

</body>

</html>