body{
    padding-bottom: 5rem;
}
h1{
    display: block;
    margin: 2rem auto 3rem;
    text-align: center;
}
.section{
    display: block;
}
.section-top{
    /* background-color: purple; */
    display: flex;
    justify-content: space-between;
    padding: 0 2rem;
}
.section-top button{
    background-color: var(--red);
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.4rem;
    padding: 0 1rem;
    margin: 4px 0;
    border-radius: 3%;
}
.section-top button:hover{
    opacity: 0.8;
}
.section-top button:active{
    opacity: 0.4;
}
.section-bot{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 2%;
    row-gap: 4%;
    margin: 0 1rem;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 5%;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 3%;
}
.minimize{
    height: 16rem;
}
.section-bot-dishes{
    /* border: 1px solid blue; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}
.section-bot-dishes:hover > .section-bot-dishes-desc{
    visibility: visible;
}
.section-bot-dishes:hover > img{
    filter: blur(1rem);
    -webkit-filter: blur(1rem);
}
.section-bot-dishes img{
    width: 80%;
    object-fit: contain;
    transition: all 0.6s;
}
.section-bot-dishes-desc{
    position: absolute;
    text-align: left;
    padding: 12% 4%;
    visibility: hidden;
    margin-bottom: -22%;
}

@media(min-width:1200px){
    .section-bot{
        grid-template-columns: 25% 25% 25% 25%;
        column-gap: 0;
        row-gap: 2rem;
    }
    .section-bot-dishes-desc{
        padding: 0 1.5rem;
        margin-bottom: 1rem;
    }
    .minimize{
        height: 18rem;
    }
}

@media(max-width:900px){
    .section-bot{
        grid-template-columns: 50% 50%;
        column-gap: 0;
        row-gap: 2rem;
    }
    .section-bot-dishes-desc{
        padding: 0 0;
        margin-bottom: 2rem;
    }
    .minimize{
        height: 20rem;
    }
}

@media(max-width:760px){
    .minimize{
        height: 16rem;
    }
    .section-bot-dishes-desc h4{
        visibility: hidden;
        display: none;
    }
}

@media(max-width:640px){
    .minimize{
        height: 12rem;
    }
    .section-bot-dishes-desc{
        padding: 0 0;
        margin-bottom: 2rem;
    }
}