*,html,body{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
    font-size: 16px;
    z-index: 4;
}
h1,h2,h3,h4,p{
    position: relative;
    z-index: 5;
}
a {
    cursor: pointer;
    text-decoration: none;
}
button {
    cursor: pointer;
    border: none;
}
button p{
    margin-right: 10px;
}
h1{
    font-size: 7rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 1.3rem;
}
.mar-bot{
    margin-bottom: 7%;
}
.mar-sides{
    margin-left: 3%;
    margin-right: 3%;
}
.background{
    z-index: 1;
}