#header{
    height: 60px;
    position: fixed;
    top: 0;
    width: 100vw;
    align-content: center;
    z-index: 6;
}
.header-ham i{
    font-size: 1.6rem;
}
.header-ham{
    background-color: transparent;
    padding: 3px 6px;
    margin-left: 6%;
    border-radius: 50%;
}
.header-ham:hover{
    background-color: rgba(210, 210, 210, 0.6);
}
.header-ham:active{
    opacity: 0.5;
}