#reason{
    background-color: var(--darkwhite); 
    display: block;
    overflow: visible;
    text-align: center;
    padding: 3rem 0;
}
.reason-lists{
    display: grid;  
    grid-template-columns: 10rem 10rem 10rem;
    justify-content: center;
    column-gap: 2%;
    margin-top: 2rem;
}
.reason-lists-sub img{
    width: 6rem;
    height: 6rem;
    margin-bottom: 1rem;
}

@media(max-width:750px){
    .reason-lists{
        grid-template-columns: 6rem 6rem 6rem;
        column-gap: 2%;
    }
    .reason-lists-sub img{
        width: 4rem;
        height: 4rem;
    }
}