#recomendation{
    position: relative;
    display: block;
    overflow: visible;
    text-align: center;
    padding-top: 2.4rem;
}
#recomendation h2{
    padding: 1.5rem 0 5rem;
}
#recomendation h3{
    color: var(--black);
}
#recomendation h4, #recomendation p{
    color: var(--grey);
}
#recomendation a{
    padding-bottom: 3rem;
}
.reco-cards{
    display: grid;
    grid-template-columns: 28% 40% 28%;
    column-gap: 2%;
}
.reco-cards-maincard,.reco-cards-sidecard{
    background-color: var(--white);
    position: relative;
    padding: 5rem 2% 0.6rem 2%;
    border-radius: 10%;
}
.reco-cards-maincard img, .reco-cards-sidecard img{
    position: absolute;
    transform: translateX(-50%);
    bottom: 85%;
}
.reco-cards-maincard img{
    width: 85%;
    max-width: 24rem;
    min-width: 11rem;
}
.reco-cards-sidecard img{
    width: 80%;
    max-width: 16rem;
    min-width: none;
}
.reco-deco{
    position: absolute;
    top: -25%;
    right: 0%;
    background-color: var(--red);
    width: 33rem;
    height: 66rem;
    border-radius: 33rem 0 0  33rem;
    z-index: 3;
}
@media(max-width:1300px){
    .reco-deco{
        top: -25%;
        width: 25rem;
        height: 50rem;
        border-radius: 25rem 0 0  25rem;
    }
}
@media(max-width:640px){
    .reco-deco{
        top: -25%;
        width: 15rem;
        height: 30rem;
        border-radius: 15rem 0 0  15rem;
    }
}