#recomendation{
    background-color: blanchedalmond;
    position: relative;
    display: block;
    overflow: visible;
    text-align: center;
}
#recomendation h2{
    padding: 5rem 0;
}
#recomendation a{
    padding-bottom: 3rem;
}
.reco-cards{
    display: grid;
    grid-template-columns: 28% 40% 28%;
    column-gap: 2%;
}
.reco-cards-maincard,.reco-cards-sidecard{
    background-color: blue;
    position: relative;
    padding: 5rem 2% 2rem 2%;
    border-radius: 10%;
}
.reco-cards-maincard img, .reco-cards-sidecard img{
    position: absolute;
    transform: translateX(-50%);
    bottom: 85%;
}
.reco-cards-maincard img{
    width: 85%;
    max-width: 24rem;
    min-width: 11rem;
}
.reco-cards-sidecard img{
    width: 80%;
    max-width: 16rem;
    min-width: none;
}
.reco-deco{
    background-color: yellow;
    position: absolute;
    top: -5rem;
    right: -25rem; 
    height: 120vh;
    width: 120vh;
    border-radius: 50%;
}